{{!-- {{>header_admin}} --}}

<div class="admin-container create-container">
  <div class="container">
    <div class="row">
      <div class="col s12 push-l3">
        <ul class="tabs">
          <li class="tab col s3"><a href="#add-account">ADD ACCOUNT</a></li>
          <li class="tab col s3"><a
              class="active"
              href="#account-management"
            >ACCOUNT MANAGEMENT</a></li>
        </ul>
      </div>
      <div id="add-account" class="col s12">
        <div class="paper_container z-depth-1">
          <form class="col s12" action="/account/register" method="POST">
            <h4 class="center"></h4>
            <div class="row">
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="username"
                  type="text"
                  class="validate"
                  name="username"
                  required="required"
                />
                <label for="username">Username*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="email"
                  type="email"
                  class="validate"
                  name="email"
                  required="required"
                />
                <label for="email">Email*</label>
                <span
                  class="helper-text"
                  data-error="Email is invalid!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="first-name"
                  type="text"
                  class="validate"
                  name="first-name"
                  required="required"
                />
                <label for="first-name">First name*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="last-name"
                  type="text"
                  class="validate"
                  name="last-name"
                  required="required"
                />
                <label for="last-name">Last name*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="birthday"
                  type="text"
                  class="validate datepicker"
                  name="birthday"
                  required="required"
                />
                <label for="birthday">Birthday*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <div class=""><label for="">Gender*</label>
                  <label>
                    <input name="gender" type="radio" value="1" checked />
                    <span>Male</span>
                  </label>
                  <label>
                    <input name="gender" type="radio" value="2" />
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <label for="bio">Bio</label>
                <textarea
                  class="materialize-textarea"
                  name="bio"
                  id="bio"
                  cols="30"
                  rows="10"
                ></textarea>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input id="job" type="text" class="validate" name="job" />
                <label for="job">Job</label>

              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 mr-bottom center">
                <button
                  class="btn btn-active waves-effect waves-light center"
                  type="submit"
                >ADD
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="account-management" class="col s12">
        <div class="paper_container z-depth-1">
          <table class="centered responsive-table right highlight">
            <thead style="font-weight: 600;">
              <tr>
                <th>No</th>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Job</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {{#each accounts}}
                <tr>
                  <td></td>
                  <td>{{this.username}}</td>
                  <td class="">{{this.email}}</td>
                  <td class="">{{this.first_name}}</td>
                  <td>{{this.last_name}}</td>
                  <td>{{convertDate this.birthday}}</td>
                  <td>{{this.gender}}</td>
                  <td>{{this.job}}</td>
                  <td>{{this.acc_type_id}}</td>
                  <td>
                    <a
                      data-position="top"
                      data-tooltip="Status"
                      href="/store/status/{{this.product_status}}/{{this._id}}"
                      class="btn btn-small
                        {{btnStatus this.product_status}}
                        tooltipped blue-grey button-radius"
                    ><i class="material-icons">{{btnStatus
                          this.product_status
                        }}</i></a>&nbsp;
                    <a
                      data-position="top"
                      data-tooltip="Update"
                      href="/admin/{{this._id}}"
                      class="btn btn-small tooltipped yellow darken-3 button-radius"
                    ><i class="material-icons">system_update_alt</i></a>&nbsp;
                    <a
                      data-position="top"
                      data-tooltip="Delete"
                      data-list="{{this.list_id}}"
                      data-id="{{{this._id}}}"
                      class="waves-effect waves-light btn btn-small tooltipped modal-trigger btn_delete red"
                      href="#modal1"
                    ><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="6" class="center text-center">
                    There is no accounts in database, please create new accounts
                    on CREATE ACCOUNT tab
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){ $('.tabs').tabs(); }); }); });
</script>