{{>header_admin}}

<div class="admin-container create-container">
  <div class="container">
    <div class="row">
      <div class="col s12 push-l3">
        <ul class="tabs">
          <li class="tab col s3"><a href="#add-account">ADD ACCOUNT</a></li>
          <li class="tab col s3"><a
              class="active"
              href="#account-management"
            >ACCOUNT MANAGEMENT</a></li>
        </ul>
      </div>
      <div id="add-account" class="col s12">
        <div class="paper_container z-depth-1">
          <form class="col s12" action="/admin/register" method="POST" autocomplete="off">
            <h4 class="center"></h4>
            <div class="row">
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="username"
                  type="text"
                  class="validate"
                  name="username"
                  required="required"
                  autocomplete="off"
                />
                <label for="username">Username*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="email"
                  type="email"
                  class="validate"
                  name="email"
                  required="required"
                />
                <label for="email">Email*</label>
                <span
                  class="helper-text"
                  data-error="Email is invalid!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="firstname"
                  type="text"
                  class="validate"
                  name="firstName"
                  required="required"
                />
                <label for="first-name">First name*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="last-name"
                  type="text"
                  class="validate"
                  name="lastName"
                  required="required"
                />
                <label for="last-name">Last name*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input
                  id="birthday"
                  type="text"
                  class="datepicker"
                  name="birthday"
                  required="required" format='yyyy-mm-dd'
                />
                <label for="birthday">Birthday*</label>
                <span
                  class="helper-text"
                  data-error="This field is required!"
                  data-success=""
                ></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <div class=""><label for="">Gender*</label>
                  <label>
                    <input name="gender" type="radio" value="1" checked />
                    <span>Male</span>
                  </label>
                  <label>
                    <input name="gender" type="radio" value="2" />
                    <span>Female</span>
                  </label>
                </div>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <label for="bio">Bio</label>
                <textarea
                  class="materialize-textarea"
                  name="bio"
                  id="bio"
                  cols="30"
                  rows="10"
                ></textarea>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input id="job" type="text" class="validate" name="job" />
                <label for="job">Job</label>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input id="password" type="password" class="validate" name="password" required="required" minlength="6" autocomplete="new-password" >
                <label for="password">Password*</label>
                <span class="helper-text" data-error="Invalid password, minimum length: 8" data-success=""></span>
              </div>
              <div class="input-field col s10 m10 push-l1">
                <input id="confirm-password" type="password" class="validate" required="required"  >
                <label for="confirm-password">Confirm*</label>
                <span class="helper-text" data-error="Those passwords didn't match. Try again." data-success=""></span>
              </div>
            </div>
            
       
            <div class="row">
              <div class="col s12 m12 mr-bottom center">
                <button
                  class="btn btn-active waves-effect waves-light center"
                  type="submit"
                >ADD
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="account-management" class="col s12">
        <div class="paper_container z-depth-1">
          <table class="centered responsive-table right highlight">
            <thead style="font-weight: 600;">
              <tr>
                <th>No</th>
                <th>Username</th>
                <th>Email</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Job</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {{#each accounts}}
                <tr>
                  <td></td>
                  <td>{{this.username}}</td>
                  <td class="">{{this.email}}</td>
                  <td class="">{{this.first_name}}</td>
                  <td>{{this.last_name}}</td>
                  <td>{{convertDate this.birthday}}</td>
                  <td>{{this.gender}}</td>
                  <td>{{this.job}}</td>
                  <td>{{this.acc_type_id}}</td>
                  <td>
                    <a
                      data-position="top"
                      data-tooltip="Status"
                      href="/admin/{{this.acc_status}}/{{this.username}}"
                      class="btn btn-small 
                        {{btnStatus this.acc_status}} {{btnStatusHidden this.acc_type_id}}
                        tooltipped blue-grey button-radius"
                    ><i class="material-icons">{{btnStatus
                          this.acc_status
                        }}</i></a>&nbsp;
                    <a
                      data-position="top"
                      data-tooltip="Update"
                      href="/admin/{{this.username}}"
                      class="btn btn-small tooltipped yellow darken-3 button-radius"
                    ><i class="material-icons">system_update_alt</i></a>&nbsp;
                    <a  onclick="return confirm('Are you sure you want to delete this account?')"
                      data-position="top"
                      data-tooltip="Delete"
                      data-id="{{this.username}}"
                      class="waves-effect waves-light btn btn-small tooltipped modal-trigger btn_delete red {{accType this.acc_type_id}}"
                      href="/admin/account/delete/{{this.username}}"
                    ><i class="material-icons">delete</i></a>
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="6" class="center text-center">
                    Empty!
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          {{>pagination}}
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="center">DELETE ACCOUNT?</h4>
    <p class="center">Do you really want to delete this account? This process
      cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <a
      class="modal-close waves-effect waves-green btn-flat delete-agree text-darken-2 red-text"
    >Yes</a>
    <a class="modal-close waves-effect waves-green btn-flat grey-text">No
    </a>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".btn_delete").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".delete-agree").attr("href", "/admin/delete/"+dataId); // Set herf value
    });
  });
</script>
<script>
  function checkPasswordMatch(){
    var password = $('#password').val();
    var confirmPassword = $('#confirm-password').val();
    if (password != confirmPassword)
      confirmPasswordEl.setCustomValidity("Those passwords didn't match. Try again.");
    else 
      confirmPasswordEl.setCustomValidity("Password match.");
  }
  $(document).ready(function () {
    $('#password').onchange = checkPasswordMatch;
    $('#confirm-password').keyup(checkPasswordMatch);
    $(".btn_delete").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".delete-agree").attr("href", "/admin/delete/"+dataId); // Set herf value
    });
  });

  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });
</script>