<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
      defer
    ></script>

    <script
      src="https://kit.fontawesome.com/655396e8e6.js"
      defer
      crossorigin="anonymous"
    ></script>

    <title>Medical Equipment Supply</title>
  </head>
  <body>
    {{>header}}
    <main id="main " class="subpage-main account-settings-page">
      <div class="container">
            <h2 class="title">We respect your privacy</h2>
          <div 
          class="main-account-settings-container">
            <div class="d-flex">
              <div class="left">
                <div class="user-pf-img">
                  <img src="../uploads/{{account.avatar}}" alt="Avatar">
                </div>
                <span class="user-fullname">{{accounts.full_name}}</span>
                <a href="/user_account/view" class="collection-item  is-active first-child">Account Settings</a>
                <a href="/user_account/view_order" class="collection-item">Home</a>
                <a href="/auth/logout" class="collection-item">Logout</a>
              </div>
              <div class="right">
                <form class="col s12"  method="POST"  action="/profile/update" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col s6 m6 ">
                      <div class="lbl-notation">
                        <span>First Name</span>
                        <span class="notation">How do you want to be called?</span>
                      </div>
                      <input  id="first_name" type="text" class="validate" name="first_name" value="{{account.first_name}}">
                    </div>
                    <div class=" col s6 m6 ">
                      <div class="lbl-notation">
                        <span>Last Name</span>  
                        <span class="notation">How do you want to be called?</span>
                      </div>
                      <input id="last_name" type="text" class="validate" name="last_name" value="{{account.last_name}}" required="required">
                      <span class="helper-text" data-error="This field must be text" data-success=""></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Email</span>
                        <span class="notation">For logging in</span>
                      </div>
                      <input type="email" class="validate" name="email" value="{{account.email}}" required="required">
                      <span class="helper-text" data-error="This field must be email" data-success=""></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="file-field input-field col s5">
                     <img src="../uploads/{{account.avatar}}"alt="Avatar" class="responsive-img list-img">
                     <br>
                     <div class="btn">
                     <span>Avatar</span>
                     <input type="file" name="image">
                         </div>
                        <div class="file-path-wrapper">
                         <input class="file-path validate" type="text" value="{{account.avatar}}" name="img_old">
                       </div>
                       </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Bio</span>
                        <span class="notation">For information</span>
                      </div>
                      <input type="text" class="validate" name="bio" value="{{account.bio}}" required="required">
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                    <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Birthday</span>
                        <span class="notation">For information</span>
                      </div>
                      
                      <input type="text" class="datepicker" name="birthday" value="{{ convertDate account.birthday}}">
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                    <div class="row" hidden>
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Gender</span>
                        <span class="notation">For information</span>
                      </div>
                     <select name="gender" id="gender">
                      <option value="{{account.gender}}">{{account.gender}}</option>
                     </select>
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                    <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Password</span>
                        <span class="notation">For logging in</span>
                      </div>
                      <input id="password" type="password" class="validate" name="password" value="{{account.acc_password}}">
                       <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Job</span>
                        <span class="notation">For Information</span>
                      </div>
                      <input id="address" type="Text" class="validate" name="job" value="{{account.job}}">
                    </div>
                  </div>
                  <button onclick="return confirm('Are you sure update ?')" class="btn btn-active" type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </main>
    {{>footer}}
    <script src="./script/main.js"></script>
  </body>
</html>
