<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flickity@2/dist/flickity.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      defer
    ></script>
    <script
      src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"
      defer
    ></script>

    <script
      src="https://kit.fontawesome.com/655396e8e6.js"
      defer
      crossorigin="anonymous"
    ></script>

    <title>Medical Equipment Supply</title>
  </head>
  <body>
    {{>header}}
    <main id="main " class="subpage-main account-settings-page">
      <div class="container">

            <h2 class="title">We respect your privacy</h2>
          <div 
          class="main-account-settings-container">
            <div class="d-flex">
              <div class="left">
                <div class="user-pf-img">
                  <img src="https://th.bing.com/th/id/R.22770dc6386fd8a268bb10d36f2a7f77?rik=sRUyHyu4RMa66Q&riu=http%3a%2f%2frealidadessperiodico.com%2fwp-content%2fuploads%2f2020%2f06%2favtars.jpg&ehk=Nzd2s%2ffmQV9WOnxDgQNhbkQUzVIv0OdzIFYWWoTg140%3d&risl=&pid=ImgRaw&r=0" alt="">
                </div>
                <span class="user-fullname">{{accounts.full_name}}</span>
                <a href="/user_account/view" class="collection-item  is-active first-child">Account Settings</a>
                <a href="/user_account/view_order" class="collection-item">Home</a>
                <a href="/auth/logout" class="collection-item">Logout</a>
              </div>
              <div class="right">
                <form class="col s12"  method="POST" action="/user_account/update/{{account._id}}/edit?_method=PATCH">
                  <div class="row">
                    <div class="col s6 m6 ">
                      <div class="lbl-notation">
                        <span>User Name</span>
                        <span class="notation">How do you want to be called?</span>
                      </div>
                      <input  id="full_name" type="text" class="validate" name="full_name" value="{{account.full_name}}">
                    </div>
                    <div class=" col s6 m6 ">
                      <div class="lbl-notation">
                        <span>Major</span>  
                        <span class="notation">For information</span>
                      </div>
                      <input id="major" type="text" class="validate" name="major" value="" required="required">
                      <span class="helper-text" data-error="This field must be text" data-success=""></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Email</span>
                        <span class="notation">For logging in</span>
                      </div>
                      <input type="email" class="validate" name="email" value="{{account.email}}" required="required">
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Bio</span>
                        <span class="notation">For information</span>
                      </div>
                      <input type="text" class="validate" name="bio" value="{{account.bio}}" required="required">
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                    <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Birthday</span>
                        <span class="notation">For information</span>
                      </div>
                      <input type="text" class="datepicker" name="birthday">
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                      <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Gender</span>
                        <span class="notation">For information</span>
                      </div>
                     <select >
         
                           <option value="mate">Mate</option>
                          <option value="femate">Femate</option>
                         
                     </select>
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div>
                    <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Password</span>
                        <span class="notation">For logging in</span>
                      </div>
                      <input id="password" type="password" class="validate" name="password" value="{{account.password}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class=" col s12 m12 ">
                      <div class="lbl-notation">
                        <span>Address</span>
                        <span class="notation">For receiving your orders</span>
                      </div>
                      <input id="address" type="Text" class="validate" name="address" value="{{account.address}}">
                    </div>
                  </div>
                  {{!-- <div class="row">
                    <div class=" col s12 ">
                      <input id="password"type="Text" class="validate" name="password" value="{{accounts.password}}" required="required"/>
                      r
                      <label for="password">Password</label>
                      <span class="helper-text" data-error="This field cannot be left blank" data-success=""></span>
                    </div>
                  </div> --}}
                  <button onclick="return confirm('Are you sure update ?')" class="btn btn-active" type="submit">Update</button>
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </main>
    {{>footer}}
    <script src="./script/main.js"></script>
  </body>
</html>
