<script src ="../../../public/script/inbox.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src = "./script/inbox_group.js"></script>
<script src = "./script/inbox_private.js"></script>

<style>
  .collection-item{
    cursor: pointer;
  }
</style>
{{>header}}
<div class="container-user inbox-container">
  <aside id="sidenav-open">
    <nav>
      <h2 class="sidenav-title">Chat room</h2>
      <div class="sidenav-section">
        <h3>DIRECT MESSAGES</h3>
        <ul>
          {{#each follower}}
            <li class="collection-member-chat collection-member-chat-private" > 
               <img class="circle"src="../uploads/{{this.follower_avatar}}"/>
             <p >
               {{this.follower_username}}
             </p>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="sidenav-section">
        <h3>MY CHANNELS  </h3>
        <a href="#add-group" class="material-icons modal-trigger">add_circle_outline</a>
         <ul>
          {{#each crews}}
             <li class="collection-member-chat-group" > 
               <img class="circle"src="../uploads/{{this.avatar}}"/>
             <p >
               {{this.crew_name}}
             </p>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="sidenav-section">
        <h3>FOLLOW CHANNELS</h3>
          <ul>
          {{#each followCrews}}
             <li class=" collection-member-chat-group" > 
               <img class="circle" src="../uploads/{{this.joined_avatar}}"/>
             <p >
               {{this.crew_name}}
             </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </nav>
  </aside>
  <main class="chat-main" id="main" style="display:flex">
    <div id="container-chat-private" class="container-chat">
      <p id="username" hidden>{{account}}</p>
      <button type="submit"  id="close-boxchat" class="waves-effect waves-light btn-small right">Close</button>
      <div class="card chatbox" style="">
        <div id="chat-content" class="left"> 
          <p id="notification-focus"></p>        
        </div>
      </div>
      <div class="message">
        <textarea placeholder="message" id="message-inbox-private" class="materialize-textarea" required></textarea> 
          <a id="emoji-btn" class="waves-effect waves-light btn modal-trigger" href="#icon-modal"><span class="material-icons">emoji_emotions</span></a>
        <button id="send-message" class="waves-effect waves-light btn btn-small"><span class="material-icons">send</span></button>
      </div>
    </div>
    <div id="container-chat-group" class="container-chat">
      <p id="username" hidden>{{account}}</p>
      <button type="submit"  id="close-boxchat" class="waves-effect waves-light btn-small right">Close</button>
      <div class="card chatbox" style="">
        <div id="chat-content-group" class="left"> 
          <p id="notification-focus"></p>        
        </div>
      </div>
      <div class="message" >
          <textarea placeholder="message" id="message-inbox-group" class="materialize-textarea" required></textarea> 
          <a id="emoji-btn-group" class="waves-effect waves-light btn modal-trigger" href="#icon-modal"><span class="material-icons">emoji_emotions</span></a>
        <button id="send-message-group" class="waves-effect waves-light btn btn-small"><span class="material-icons">send</span></button>
      </div>
    </div>
    <div class="main-joined-group">
         <aside id="sidenav-open">
    <div class="member-joined">
      <h2 class="sidenav-title">Memember Joined</h2>
      <div >
        <ul class="member-join-room"> 
            <li class="collection-member-chat collection-member-chat-group" > 
                {{!-- <img class="circle"src="../uploads/"/> --}}

            </li>
        </ul>
      </div>
    </div>
  </aside>
    </div>
  </main>
   
</div>  
{{!-- modal icon --}}
<div id="icon-modal" class="modal">
  <div class="modal-content center">
    <h4 class="center">Emoticon</h4>
    <img class='image-emotion modal-close' src='../emoticon/angry-face-with-horns_1f47f.png' >"
    <img class='image-emotion modal-close' src='../emoticon/face-holding-back-tears_1f979.png' >"
    <img class='image-emotion modal-close' src='../emoticon/smiling-face-with-heart-eyes_1f60d.png' >"
    <img class='image-emotion modal-close' src='../emoticon/hot-face_1f975.png' >"
    <img class='image-emotion modal-close' src='../emoticon/cat-face_1f431.png'>"
    <img class='image-emotion modal-close' src='../emoticon/christmas-tree_1f384.png'>"
    <img class='image-emotion modal-close' src='../emoticon/fire_1f525.png' >"
    <img class='image-emotion modal-close' src='../emoticon/wrapped-gift_1f381.png' >"
    <img class='image-emotion modal-close' src='../emoticon/person-surfing_1f3c4.png'>"
    <img class='image-emotion modal-close' src='../emoticon/christmas-tree_1f384.png'>"
    <img class='image-emotion modal-close' src='../emoticon/foggy_1f301.png' >"
    <img class='image-emotion modal-close' src='../emoticon/sparkles_2728.png' >"
    </div>
</div>
{{!-- modal add group --}}
  <div id="add-group" class="modal">
    <div class="modal-content">
      <h4>Create Group</h4>
  <div class="row">
    <form class="col s12"  action="/crew/add" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="input-field col s12">
          <input id="group_name" type="text" class="validate" name="crew_name">
          <label for="group_name">Group Name</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" name="crew_title">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
          <div class="file-field input-field">
      <div class="btn">
        <span>Avatar</span>
        <input type="file" name="image">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
         </div>
      </div>
      <button class="btn center" type="submit"> Create </button>
    </form>
  </div>
    </div>
  </div>
 

    
  