{{>header}}
<script src = "../../../public/script/display_img.js"></script>
<div class="container-user newsfeed-container center">
  <main id="main">
    {{!-- <div class="post-add">
        <div class="post-card">
        <div class="card-content ">
          <div class="row">
             <form class="col" action="/newsfeed/newPost" method="post"  enctype="multipart/form-data">
               <div class="row">
                <div class="col">
                   <img style="height:100px"src="../uploads/{{avatar}}"  alt="">
                </div>
                <div class="input-field col">
                  <textarea id="textarea1" class="materialize-textarea post-input-newsfeed" name="post_content" required></textarea>
                   <label for="textarea1">@{{username}}, What are you thinking ?</label>
                 </div>
                </div>
                    <div class="row">    
                    <div class="file-field input-field col push-l4" id="wrapper">
                       
                     <div class="btn btn-active">
                        <span> <i class="material-icons">image</i></span>  

                        <input  id="fileUpload"  type="file" name="image" multiple="multiple" >
                          </div>
                          <div class="file-path-wrapper">
                                <input hidden  class="file-path validate" type="text" value="" >
                          </div>
                            <div id="image-holder"></div>
                      </div>  
                       <div class="btn btn-active btn-post-video">
                              <a class=" modal-trigger" href="#post-video-modal"> <i class="material-icons">video_call</i></a>
                        </div>
                  </div>               
                 <div class="card-action">
                    <button class="btn btn-active" type="submit">Post</button>
                 </div>
            </form>
          </div>
        </div>
      </div>
    </div> --}}
    <div class="post-add post-card">
      <form action="/newsfeed/newPost" method="post"  enctype="multipart/form-data">
        <div class="row">
          <div class="col s3 m3">
              <img style="height:100px"src="../uploads/{{avatar}}"  alt="">
          </div>
          <div class="input-field col s9 m9">
            <textarea id="textarea1" class="materialize-textarea post-input-newsfeed" name="post_content" required></textarea>
              <label for="textarea1">@{{username}}, What are you thinking ?</label>
          </div>
        </div>
        <div class="row">    
          <div class="file-path-wrapper">
            <input hidden  class="file-path validate" type="text" value="" >
          </div>
          <div class="file-field input-field" id="wrapper" >
            <div id="image-holder"></div>
            
            <div class="d-flex" >
              <div class="left">
                <label class="btn btn-active" for="fileUpload"> <i class="material-icons">image</i></span>  
                <input  id="fileUpload"  type="file" name="image" multiple="multiple" >
              </div>
              <div class="right">
                <a class=" btn btn-active btn-post-video modal-trigger" href="#post-video-modal"> <i class="material-icons">video_call</i></a>
              </div>
            </div>
          </div>  
        </div>               
        <div class="card-action">
          <button class="btn btn-active" type="submit">Post</button>
        </div>
      </form>
    </div>


    {{#each posts}}
          {{!-- <iframe width="420" height="345" src="//www.youtube.com//egSxAF-Sak4?autoplay=1"> --}}

{{!-- </iframe> --}}
    <div id="to-scroll-when-comment" class="post-card">
      <div class="post-info">
        <div class="left">
          <img src="../uploads/{{this.userpost_img}}" alt="" class="post-info-avatar">
          <span class="post-info-username">@{{this.username}}</span>
        </div>
      </div>
        <span class="post-info-date right">{{converDateNewsfeed this.post_date}}</span>
      <div class="post-content" >
        <h2>{{this.post_content}}</h2>
        <div class="post-img center" >
         <a href="/post/{{this.post_id}}" >  <img src="../uploads/{{nonImage this.post_img}}">  </a>
        </div>
      </div>
      <div class="post-footer">
        <div class="post-reacts">
          <a data-id ={{this.post_id}} class=" modal-trigger btn-react"  href="#icon-modal">
            <img src="../emoticon/{{ emotionReact this.react_img}}" style=""  alt="">
          </a>
          <a id="link-post" class=" modal-trigger btn-react"  href="/post/{{this.post_id}}">
            <img src="../emoticon/cmt-icon.png" style=""  alt="">
          </a>
           <a  class=" modal-trigger btn-react"  onclick="copyToClipboard('#link-post')">
            <img src="../emoticon/share-icon.png" style=""  alt="">
          </a> 
          {{!-- <p><span>@nhandang, @havietluc</span> and <span>3</span> others liked this post</p> --}}
        </div>
         <p style="text-align: left;margin-top:10px"> <span>{{this.countReact}}</span> reacted this post</p>
      </div>
    </div>
    {{/each}}
  </main>
</div>  
{{!-- modal react icon --}}
<div id="icon-modal" class="modal" style="background : transparent">
  <div class="modal-fixed-footer center ">
    {{!-- <h4 class="center">Emoticon</h4> --}}
    <a href="" class="btn-react-heart">
      <img   class='image-emotion-react-post modal-close' src='../emoticon/red-heart_2764-fe0f.png'>
    </a>
    <a href="" class="btn-react-like">
       <img class='image-emotion-react-post modal-close' src='../emoticon/like-react.png' >
    </a>
   <a href="" class="btn-react-smile">
      <img class='image-emotion-react-post modal-close' src='../emoticon/haha-react.png' >
   </a>
    <a href="" class="btn-react-angry">
      <img class='image-emotion-react-post modal-close' src='../emoticon/angry-icon.png' >
   </a>
    <a href="" class="btn-react-lovelove">
      <img class='image-emotion-react-post modal-close' src='../emoticon/lovelove-icon.png' >
   </a>
    <a href="" class="btn-react-cry">
      <img class='image-emotion-react-post modal-close' src='../emoticon/cry-icon.png' >
   </a>
   
    </div>
</div>
{{!-- modal post video --}}
<div id="post-video-modal" class="modal" style="">
  <div class="modal-content center ">
            <form class="col s12" action="/newsfeed/newPost" method="post"  enctype="multipart/form-data">
               <div class="row">
                <div class="col s4">
                   <img style="height:100px"src="../uploads/{{avatar}}"  alt="">
                </div>
                <div class="input-field col s8" >
                 <input type="text" id="content" class="validate" name="post_content" required="required" >
                      <span class="helper-text" data-error="This field must be link" data-success="" ></span>
                   <label for="content">@{{username}}, What are you thinking ?</label>
                 </div>
                </div>
                      <div class="row">
                    <div class="input-field col s8 m8 push-l4">
                      <input type="text" class="validate" name="post_video" value="" required="required" id="video">
                      <label for="video"> Link video </label>
                      <span class="helper-text" data-error="This field must be link" data-success=""></span>
                    </div>
                  </div>              
                 <div class="card-action">
                    <button class="btn btn-active" type="submit">Post</button>
                 </div>
            </form>
    </div>
</div>
{{!-- display img when add --}}
<script src="../script/display_img.js"></script>
<script>
 $(document).ready(function(){
    $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-heart").attr("href", "/post/react/1/"+dataId)
    });
       $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-like").attr("href", "/post/react/2/"+dataId)
    });
      $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-smile").attr("href", "/post/react/3/"+dataId)
    });
     $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-angry").attr("href", "/post/react/4/"+dataId)
    });
     $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-lovelove").attr("href", "/post/react/5/"+dataId)
    });
     $(".btn-react").on("click", function(){
        var dataId = $(this).attr("data-id");
          $(".btn-react-cry").attr("href", "/post/react/6/"+dataId)
    });
});
</script>
<script src="../script/share_post.js"></script>

  