{{>header}}
<script src = "../../../public/script/display_img.js"></script>
<div class="container-user newsfeed-container center">
    <div class="post-add container">
        <div class="card" style="margin-top:100px; background-color:#2b2b36">
        <div class="card-content ">
          <div class="row">
             <form class="col s12" action="/newsfeed/newPost" method="post"  enctype="multipart/form-data">
               <div class="row">
                <div class="col s4">
                   <img style="height:100px"src="../uploads/{{avatar}}"  alt="">
                </div>
                <div class="input-field col s8">
                  <textarea id="textarea1" class="materialize-textarea" name="post_content" required></textarea>
                   <label for="textarea1">@{{username}}, What are you thinking ?</label>
                 </div>
                </div>
                    <div class="row">
                    <div class="file-field input-field col s5 m12" id="wrapper">
                     <div class="btn btn-active">
                     <span>Add Image</span>
                     <input  id="fileUpload"  type="file" name="image" multiple="multiple" required>
                         </div>
                        <div class="file-path-wrapper">
                         <input hidden  class="file-path validate" type="text" value="" >
                       </div>
                             <div id="image-holder"></div>
                       </div>
                  </div>
                 <div class="card-action">
                    <button class="btn btn-active" type="submit">Post</button>
                 </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <main id="main">
    {{#each posts}}
    <div id="to-scroll-when-comment" class="post-card">
      <div class="post-info">
        <div class="left">
          <img src="../uploads/{{this.userpost_img}}" alt="" class="post-info-avatar">
          <span class="post-info-username">@{{this.username}}</span>
        </div>
        
        <span class="post-info-date">{{this.post_date}}</span>
      </div>
      <div class="post-content">
        <h2>{{this.post_content}}</h2>
        <div class="post-img">
          <img src="../uploads/{{this.post_img}}" >
        </div>
      </div>
      <div class="post-footer">
        <div class="post-reacts">
          <a href="#" class="material-icons">favorite</a>
          {{!-- <a href="#" class="material-icons">favorite_border</a> --}}
          <p><span>@nhandang, @havietluc</span> and <span>3</span> others liked this post</p>
          
        </div>
        <div class="post-comments-container">
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@havietluc</a> </div>
            <div class="post-comment-content">Why?</div>
          </div>
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@nhandang</a> </div>
            <div class="post-comment-content">I don't know</div>
          </div>
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@dinhthanhphong</a></div>
            <div class="post-comment-content">Hmmm....</div>
          </div>
          <form class="post-input-form" action="">
            <div class="input-field">
            <input type="text" placeholder="Enter comment...">
            </div>
            <button type="submit" class="btn-active"><span class="material-icons">send</span></button>
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </main>
</div>  
<script>
$(document).ready(function() {
        $("#fileUpload").on('change', function() {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          var image_holder = $("#image-holder");
          image_holder.empty();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++) 
              {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                  }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Pls select only images");
          }
        });
      });
</script>

 

    
  