{{>header}}
<div class="container-user profile-container">
  {{>shortcuts}}
  <main id="main">
    <ul class="personal-info">
      <li class="personal-info-item">{{account.bio}}</li>
      <li class="personal-info-item">Job: {{account.job}}</li>
      <li class="personal-info-item">Full Name: {{ mergeName account.last_name account.first_name}} </li>
      <li class="personal-info-item">Gender:{{convertGender account.gender}} </li>
      <li class="personal-info-item">Birthday: {{ convertDate account.birthday}}</li>
    </ul>
    <div id="to-scroll-when-comment" class="post-card">
      <div class="post-info">
        <div class="left">
          <img src="../uploads/avatar.png" alt="" class="post-info-avatar">
          <span class="post-info-username">@nhandang</span>
        </div>
        
        <span class="post-info-date">29 November 2021 at 5:00 pm</span>
      </div>
      <div class="post-content">
        <h2>I'm bored! </h2>
        <div class="post-img">
          <img src="../uploads/processor.png" alt="">
        </div>
      </div>
      <div class="post-footer">
        <div class="post-reacts">
          <a href="#" class="material-icons">favorite</a>
          {{!-- <a href="#" class="material-icons">favorite_border</a> --}}
          <p><span>@nhandang, @havietluc</span> and <span>3</span> others liked this post</p>
          
        </div>
        <div class="post-comments-container">
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@havietluc</a> </div>
            <div class="post-comment-content">Why?</div>
          </div>

          <div class="post-comment">
            <div class="post-comment-username"><a href="">@nhandang</a> </div>
            <div class="post-comment-content">I don't know</div>
          </div>
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@dinhthanhphong</a></div>
            <div class="post-comment-content">Hmmm....</div>
          </div>
          <form class="post-input-form" action="">
            <div class="input-field">
            <input type="text" placeholder="Enter comment...">
            </div>
            <button type="submit" class="btn-active"><span class="material-icons">send</span></button>
          </form>
        </div>
      </div>
    </div>
    <div id="" class="post-card">
      <div class="post-info">
        <div class="left">
          <img src="../uploads/avatar.png" alt="" class="post-info-avatar">
          <span class="post-info-username">@nhandang</span>
        </div>
        
        <span class="post-info-date">29 November 2021 at 5:00 pm</span>
      </div>
      <div class="post-content">
        <h2>I'm bored! </h2>
        <div class="post-img">
          <img src="../uploads/processor.png" alt="">
        </div>
      </div>
      <div class="post-footer">
        <div class="post-reacts">
          @nhandang, @havietluc and 3 others liked this post
        </div>
        <div class="post-comments-container">
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@havietluc</a> </div>
            <div class="post-comment-content">Why?</div>
          </div>

          <div class="post-comment">
            <div class="post-comment-username"><a href="">@nhandang</a> </div>
            <div class="post-comment-content">I don't know</div>
          </div>
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@dinhthanhphong</a></div>
            <div class="post-comment-content">Hmmm....</div>
          </div>
          <form class="post-input-form" action="">
            <div class="input-field">
            <input type="text" placeholder="Enter comment...">
            </div>
            <button type="submit" class="btn-active"><span class="material-icons">send</span></button>
          </form>
        </div>
      </div>
    </div>
    <div id="" class="post-card">
      <div class="post-info">
        <div class="left">
          <img src="../uploads/avatar.png" alt="" class="post-info-avatar">
          <span class="post-info-username">@nhandang</span>
        </div>
        
        <span class="post-info-date">29 November 2021 at 5:00 pm</span>
      </div>
      <div class="post-content">
        <h2>I'm bored! </h2>
        <div class="post-img">
          <img src="../uploads/processor.png" alt="">
        </div>
      </div>
      <div class="post-footer">
        <div class="post-reacts">
          @nhandang, @havietluc and 3 others liked this post
        </div>
        <div class="post-comments-container">
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@havietluc</a> </div>
            <div class="post-comment-content">Why?</div>
          </div>

          <div class="post-comment">
            <div class="post-comment-username"><a href="">@nhandang</a> </div>
            <div class="post-comment-content">I don't know</div>
          </div>
          <div class="post-comment">
            <div class="post-comment-username"><a href="">@dinhthanhphong</a></div>
            <div class="post-comment-content">Hmmm....</div>
          </div>
          <form class="post-input-form" action="">
            <div class="input-field">
            <input type="text" placeholder="Enter comment...">
            </div>
            <button type="submit" class="btn-active"><span class="material-icons">send</span></button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>  
{{!-- <div class="main-profile"> 
            <div class="container-user">
                <div class="row">
                    <div class="col m3 push-l2">
                         <img style="height:28%;width:70%"class="circle"src="../uploads/{{account.avatar}}"/>
                    </div>
                     <div class="col m9 push-l2">
                      <div class="row">
                           <h4> {{account.username}} ({{ mergeName account.last_name account.first_name}} )</h4>
                            <a href="/profile/editPage">Edit Profile</a>
                      </div>
                       <div class="row">
                           <span> 1 Post </span>
                           <span> 2 Followers </span>
                           <span>2 Following</span>
                      </div>
                        <div class="row">
                           <span> {{account.bio}} </span>   
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col m3 s3">
                  <ul class="collection with-header">
                 <li class="collection-header"><h7>My Information</h7></li>
                 <li class="collection-item"><div>Job : {{account.job}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Name : {{ mergeName account.last_name account.first_name}} <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Gender :{{convertGender account.gender}} <a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                <li class="collection-item"><div>Birthday : {{ convertDate account.birthday}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                 </ul>
                  </div>
                  <div class="col m9 s9">   
                    <div class="row">
                     <div class="col s10 m10">
                       <div class="card">
                         <div class="card-image">
                           <img src="../img/Feed-amico.png">
                             <span class="card-title">havietluc@1223</span>
                         </div>
                        <div class="card-content">
                        <p>
                            social networking site in Node JS and Mongo DB
                        </p>
                          </div>
                          <div class="card-action">
                      <a href="#">Like</a>
                       <a href="#">Comment</a>
                        <a href="#">Share</a>
                       </div>
                         </div>
                        </div>
                     </div>
                  </div>
                </div>
            </div>


</div> --}}